{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Lobster|Permanent+Marker|Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{%static "video_detail.css" %}">


  <script src="{%static "js/jquery.js" %}"></script>
  <script src="{%static "js/bootstrap.min.js" %}"></script>

<title>{{Video.titolo}}</title>
</head>
<body >
  <script>
      var titleV= '{{Video.title}}'
      var idV= '{{Video.pk}}'
  </script>
<div id = 'top-container'>
          <div class="top-title">
               <div class="content">
                     <div class="header">
                         <h3>{{Video.title}}</h3>
                     </div>
                     <div id = 'loading'>
                        <a>Sto rilevando la tua emozione</a>
                        <img width="10%" height="10%" src='static/emoji/loading.gif'></img>
                     </div>
                     <div class="dropbtn">
                         <button onclick="myFunction()" class="dropbtn">Menu</button>
                         <div id="myDropdown" class="dropdown-content">
                             <a href="home" id="choice">  Home</a>
                             <a href="/" id="choice" name="new_session">  New Session</a>
                             <a href="#" id="choice">  Tutorial</a>
                             <a id="modelP">  Credits</a>
                             <a href="{{Video.pk}}/getData" id='choice'>  Riassunto</a>
                         </div>
                     </div>
               </div>
          </div>


           <div class = "video-container">

               <div id = "question">
                     <div>
                               <img id='emoji' width="70%" height="70%"></img>
                     </div>
                     <div id='box-q'>
                               <div id= 'box-text'>
                                    <a id='testo'></a>
                               </div>
                               <div id='box-button'>
                                    <button id='1'></button>
                                    <button id='2'></button>
                                    <button id='3'></button>
                                    <button id='4'></button>
                                    <button id='5'></button>
                                    <button id='6'></button>
                                    <button id='7'></button>
                               </div>
                       </div>
               </div>

               <div class="video-box">




                   <video id = "video">
                       <source src ={{Video.file}}> </source>
                   </video>





                  </div>
          </div>

<div id= "video-controls">
                      <div id = 'box-c-sx'>
                          <button type="button" id="play-pause">Play</button>
                          <button type="button" id="mutebtn">Mute</button>
                          <input id="volumeslider" type="range" min="0" max="100" value="100" step="1"></input>
                      </div>
                      <div id = 'loading-box2'>
                          <div id = 'loading2'>
                             <a>Sto rilevando la tua emozione</a>
                             <img width="10%" height="10%" src='static/emoji/loading.gif'></img>
                          </div>
                      </div>
                      <div id= 'box-c-dx' >
                          <span id="curtimetext">00:00</span> / <span id="durtimetext">00:00</span>
                          <button id='reload'>↺</button>
                          <button type="button" id="full-screen">【 】</button>
                      </div>
          </div>
<!-- The Modal -->
              <div id="myModal" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                            <button id="close">X</button>
                            <p>
                                 {% for e in em %}
                                      <a>Titolo video: {{e.titleV} </a>
                                      <a>Emozione rilevata:  {{e.emotion}} </a>
                                      <a>Al secondo:  {{e.time}} </a>
                                      <a>Risposta data: {{e.response}} </a>

                                     <hr>
                                 {% endfor %}
                          </p>
                      </div>
              </div>

</div>
        <script src= "{%static "video_detail.js" %}" ></script>

</body>
</html>
